* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    overflow-x: hidden;
}

.top {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
}

.top > img {
    width: 75px;
    height: 53px;
    margin: 16px 0 11px 22px;
}

.top > ion-icon {
    font-size: 42.19px;
    color: #000000;
    margin: 25.03px 22.41px 24.03px 0;
}

.bottom {
    width: 100%;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: #ffffff;
}

.bottom > div {
    width: calc(100% - 75px);
    margin: 15px 0 1px 17px;
}

.bottom input{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 30px;
    border: none;
    padding: 0;
    /* margin: 25px 0 25px 17px; */
}

.bottom input::-webkit-input-placeholder { /* Edge */
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.bottom input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.bottom input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

input:focus {
    outline: none;
}

.bottom h6 {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.bottom > ion-icon {
    font-size: 30px;
    margin: 27px 18px 27px 0;
}

.content {
    width: 100%;
    height: 100%;
    margin: 106px 0 84px;
    /* background-color: red; apagar */
}

.opcoes {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.tela-preta {
    /* width: calc(100% - 259px); */
    width: 30.92%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.menu-lateral {
    /* width: calc(100% - 116px); */
    width: 69.08%;
    height: 100%;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menu-lateral h6:first-child {
    /* width: 66%; */
    max-width: 170.973px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 23px auto;
}

.texto-visibilidade {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 23.5px auto;
}

.contatos, .contatos-dinamico {
    width: 100%;
    /* background: red; apagar */
}

.visibilidades {
    width: 100%;
}

.contato, .visibilidade {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1px;
    position: relative;
    /* font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; */
}

.ion-icon-todos {
    font-size: 25px;
    color: #000000;
    margin: 0 7.78px 0 17.78px;
}

.ion-icon-usuario {
    font-size: 25px;
    color: #000000;
    margin: 0 8.34px 0 20.34px;
}

.ion-icon-visibilidade {
    font-size: 23px;
    color: #000000;
    margin: 0 8.34px 0 20.34px;
}

.texto-menu-lateral {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.contato > img {
    width: 9px;
    height: 7px;
    position: absolute;
    top: 13px;
    right: 27px;
    opacity: 0;
}

.visibilidade > img {
    width: 9px;
    height: 7px;
    position: absolute;
    top: 13px;
    right: 27px;
    opacity: 0;
}

.tela-de-entrada {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.logo-tela-de-entrada {
    width: 130px;
    height: 92px;
    /*max-width: 34.67%;*/
    margin: 72px 0 94px;
}

.tela-de-entrada > input {
    width: 69.6%;
    height: 54px;
    max-width: 261px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #aeaeae;
    margin-bottom: 15px;
    padding: 0;
}

.tela-de-entrada > button {
    width: 29.07%;
    max-width: 109px;
    height: 45px;
    border: none;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #696969;
    background: #e7e7e7;
    padding: 0;

}

.img-carregando {
    width: 130px;
    height: 100px;
    margin-bottom: 25px;
}

.box {
    width: 100%;
    border-radius: 2px;
    padding: 13px 9px 13px 8px;
    margin-bottom: 4px;
    /*overflow: hidden;*/
}

.box > p {
    width: 100%;
    line-break: normal;
    word-break: break-all; 
    /* word-wrap: break-word; */
}


.status {
    background: #dcdcdc;
}

.normal-message {
    background: #ffffff;
}

.reserved-message {
    background: #ffdede;
}

.text-message {
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

span {
    font-weight: 700;
}

.color-gray {
    font-weight: 400;
    color: #aaaaaa;
}

.selecionar > img{
    opacity: 1;
}

.ocultar {
    display: none;
}